<a href="https://colab.research.google.com/github/ryaneulin/CPE-103-OOP-1-A/blob/main/LABORATORY_3_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DATA TYPES

In [ ]:
value = 5

print()

In [ ]:
type(value)

int

In [ ]:

#3,4
value = 5.0

print(value)

5.0

In [ ]:



#5
value = 2 + 3j
print(value)

value = 'Hello World'
print(value)

value = "Hello World"
print(value)

value = True
print(value)

value = False
print(value)

value = [1,2,3,4,5]
print(value)

value = (1,2,3,4,5)
print(value)

value = {'name:' 'Ryan'}
print(value)


value = None
print(value)

(2+3j)
Hello World
Hello World
True
False
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name:Ryan'}
None

In [ ]:
value = 5

In [ ]:
value2 = -6

Performing Operations with Python

In [ ]:
value = 5
value2 = -6

print(value+value2)

-1

In [ ]:
value = 5.0
value2 = -6

print(value+value2)

value = -5
value2 = 6.1

print(value+value2)

value = 'Hello\t'
value2 = 'world'

print(value+value2)

-1.0
1.0999999999999996
Hello	world

In [ ]:
#2
value = 5.0
value2 = -6

print(value+value2)

value = -5
value2 = 6.1

print(value+value2)

value = 'Hello\t'
value2 = 'world'

print(value+value2)
value = [1,2,3]
value2 =  [4,5,6]
print(value+value2)

value = (1,2,3)
value2 = (4,5,6)
print(value+value2)

value = {"name": "Ryan"}
value2 = {"age" :2}

result = value.copy()
result.update(value2)
print(result)

-1.0
1.0999999999999996
Hello	world
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)
{'name': 'Ryan', 'age': 2}

In [ ]:
#3,4
value, value2 = 30, 4

print(value * value2)
print(value2 ** 2)
print(value2 ** 3)
print(value * value2 + value2 ** 2 + 1)
print(value / value2)
print(value % value2)

120
16
64
137
7.5
2

In [ ]:
#5
name = input("Enter your name: ")

weight = float(input("Enter your weight (kg): "))

height = float(input("Enter your height (meters): "))

bmi = weight / (height ** 2)

print(f"{name}, your BMI is: {bmi:.2f}")

Enter your name: Ryan
Enter your weight (kg): 48
Enter your height (meters): 1.63
Ryan, your BMI is: 18.07

In [ ]:
#6
name = "John Ray"
weight = 60
height = 1.6764
bmi = 21.3499


print("Name: " + name)
print("Weight: " + str(weight) + " kg")
print("Height: " + str(height) + " m")
print("BMI: " + str(bmi))


print("Guide: 5.5 feet ~ " + str(height) + " m")

Name: John Ray
Weight: 60 kg
Height: 1.6764 m
BMI: 21.3499
Guide: 5.5 feet ~ 1.6764 m

In [ ]:
#Task

print("Triangle")
base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))
area = (1 / 2) * base * height
print(f"The area of the triangle is {area:.6f}")

print("")
print("Celsius to Fahrenheit ")
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9 / 5) + 32
print(f"{celsius}°C = {fahrenheit}°F")

print("")
print("Distance Between Two Points")
x1, y1 = map(float, input("Enter coordinates for point 1 (x1 y1): ").split())
x2, y2 = map(float, input("Enter coordinates for point 2 (x2 y2): ").split())
distance = ((x2 - x1) ** 2 + (y2 - y1) ** 2) ** 0.5
print(f"The distance between the points is: {distance}")

Triangle
Enter the base of the triangle: 34
Enter the height of the triangle: 56
The area of the triangle is 952.000000

Celsius to Fahrenheit
Enter temperature in Celsius: 0
0.0°C = 32.0°F

Distance Between Two Points
Enter coordinates for point 1 (x1 y1): 2 2
Enter coordinates for point 2 (x2 y2): -3 3
The distance between the points is: 5.0990195135927845