<a href="https://colab.research.google.com/github/ryaneulin/CPE-103-OOP-1-A/blob/main/LOOPING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [ ]:
week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

for x in week:
  if x == "Thursday":
    break
  print(x)

Monday
Tuesday
Wednesday

The Range Function

In [ ]:
for x in range (6):
  print(x)

print("\n2nd Example")

for x in range (2, 6):
  print(x)

0
1
2
3
4
5

2nd Example
2
3
4
5

Nesterd Loop

In [ ]:
adjective = [ "red", "big", "tasty" ] #outer

fruits = [ "apple", "banana", "cherry" ] #inner

for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

Example 5

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

The Break statement

In [ ]:
i =1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

The Continue Statemnet

In [ ]:
i = 1
while i < 6:
    if i == 3:
        i += 1
        continue
    print(i)
    i += 1

1
2
4
5

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Application 1

In [ ]:
for x in range(0, 11):

 print("Hello", x)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

PRACTICAL TEST

In [49]:
num = [ 4 , 5, 6, 7, 8, 9,]

for y in num:
  print (y)

4
5
6
7
8
9