<a href="https://colab.research.google.com/github/ryaneulin/CPE-103-OOP-1-A/blob/main/Operations_and_Expressions_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**BOOLEAN OPERATOR**

In [1]:
print( 10 > 9 )
print( 10 == 9 )
print( 10 < 9 )

True
False
False

**BOOL () FUNCTION **

In [2]:
print(bool(1))
print(bool(0))
print(bool("hello"))
print(bool(None) )
print(bool(-2))

True
False
True
False
True

**Funtion can return a Boolean**

In [15]:
def myFunction():
   return True

print(myFunction())

True

In [18]:
def myFunction():
   return False

if myFunction():
  print("YES!")
else:
  print("NO!")

NO!

In [19]:
print (10>9)

a = 7
b = 6

print(a == b)
print( a != b )

True
False
True

In [21]:
print( 10 + 5 )
print( 10 - 5 )
print( 10 * 5 )
print( 10 / 5)
print( 10 // 5 )
print( 10 % 5 )
print( 10 **5 )
print( 10 * 5 )

15
5
50
2.0
2
0
100000
50

**Python Bitwise Operator**

In [26]:
a = 60
b = 13

print( a & b )
print( a | b )
print( a ^ b )
print( ~ a )
print( a << b)

12
61
49
-61
491520

**PYHTON ASSIGNMENT OPERATORS**

In [37]:
x = 10


x += 3
print(x)

x -= 3
print(x)

x *= 3
print(x)

x /= 3
print(x)

x %= 3
print(x)

13
10
30
10.0
1.0

  **LOGIACAL OPERATORS**

In [40]:
print(10>9 and 9>10 )
print(not(10>9 and 9>10 ))

False
True

**IDENTITY OPERATOR**

In [43]:
x = 1
y = 2

print( x is y )
print(x is not y)

False
True

**CONDITIONAL STATEMENT IN PYTHON**

In [44]:
a = 12
b = 100

if b > a:
  print("b is greater than a")

b is greater than a

In [53]:
a = float(input("Enter a number: "))
b = float(input("Enter a number: "))

for i in range (6):

  if b > a:
     print("b is greater than a")

  elif a == b:
     print("a and b are equal")
  else:
    print("a is greater b")

Enter a number: 10
Enter a number: 13
b is greater than a
b is greater than a
b is greater than a
b is greater than a
b is greater than a
b is greater than a

**ELIF STATEMENT**

In [54]:
a = float(input("Enter a number: "))
b = float(input("Enter a number: "))

for i in range (6):

  if b > a:
     print("b is greater than a")

  elif a == b:
     print("a and b are equal")

Enter a number: 10
Enter a number: 13
b is greater than a
b is greater than a
b is greater than a
b is greater than a
b is greater than a
b is greater than a

**ELSE STATEMENT**

In [55]:
a = float(input("Enter a number: "))
b = float(input("Enter a number: "))

for i in range (6):

  if b > a:
     print("b is greater than a")

  elif a == b:
     print("a and b are equal")
  else:
    print("a is greater b")

Enter a number: 14
Enter a number: 16
b is greater than a
b is greater than a
b is greater than a
b is greater than a
b is greater than a
b is greater than a

**SHORT HAND IF ELSE STATEMENT**

In [58]:
a=2
b=330

print("A") if a > b else print("B")

B

**AND BOTH CONDITIONS ARE TRUE **

In [57]:
a=200
b=33
c=500

if a>b or a>c:
  print("Both Conditions are True")

Both Conditions are True

**OR AT LEAST ONE OF THE CONDITIONS IS TRUE**

In [56]:
a=200
b=33
c=500

if a>b or a>c:
  print("At least one of the conditions is True")

At least one of the conditions is True

**NESTED** **IF** **ELSE**

In [84]:
x = float(input("Enter a number: "))


if x > 10:
  print("Above 10")
  if x > 20:
    print( "Above 20")
    if x > 30:
      print("Above 30")
      if x > 40:
        print("Above 40")
        if x > 50:
          print("Above 50")
        else:
          print("Not Above 50")
      else:
       print("Not Above 40")
    else:
      print("Not Above 30")
  else:
    print("Not Above 20")
else:
  print("Not Above 10")

Enter a number: 46
Above 10
Above 20
Above 30
Above 40
Not Above 50

ACTIVITY 1

In [88]:
a = float(input( "Enter a Number: "))

if x >= 18:
  print("Qualified To Vote")

else:
  print("Not Qualified To Vote")

Enter a Number: 17
Qualified To Vote

ACTIVITY 2

In [97]:
a = float(input("Enter a Number: "))

if a > 0:
  print("It is a  Positive Number")

elif a < 0:
  print("It is a Negative Number")

else:
  print("It is Zero")

Enter a Number: -14
It is a Negative Number

ACTIVITY 3

In [99]:
a = float(input("Enter a Number:"))

if a >= 75:
  print("Passed")

elif a==75:
 print("Remedial")

else:
  print("Failed")

Enter a Number:76
Passed