<a href="https://colab.research.google.com/github/ryaneulin/CPE-103-OOP-1-A/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Identation

In [ ]:

if 5 >= 3:
  print("Five is greater than two!")

else:
    print("Five is not equal to 2")

print(" Hello World")

Five is greater than two!
 Hello World

Python Variable

In [ ]:
x = 1
a, b = 0, -1
a, b, c = 0, -1, 2

b = "Sally"

print( a )
print( b )
print( x )

0
Sally
1

Type Function

In [ ]:
x = 5
y = " John "
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double quotes " or Single quotes

In [ ]:
y = " John "
y = ' Ryan '

print(y)

 Ryan

Case Sensitive

In [ ]:
a = 4
#A = " Sally "
print(a)

4

Multiple Variables

In [ ]:
x, y , z = "one", "two", "three"

print (x)
print (y)
print (z)

one
two
three

One Value to Multiple Variables

In [ ]:
x = y = z = "four"
print (x)
print (y)
print (z)

four
four
four

Output Variables

In [ ]:
x = " enjoying "

print( " Phython programming " + x)

 Phython programming  enjoying

In [ ]:
x = 5
y = 3

print( x + y )

print( x - y )

print( x * y )

print( x / y )

print( x % y )

print( x ** y )

print( x //y )

8
2
15
1.6666666666666667
2
125
1

Assignment Operator

In [ ]:
x = 10

x = 5
x += 3
x -= 3
x *= 3
x /= 3
x %= 3
x //= 3
x **= 3
x != 3



print ( x )
print ( x )
print ( x )
print ( x )
print ( x )
print ( x )
print ( x )
print ( x )
print ( x )
print ( x )
print ( x )
print ( x )

0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0

Comparison Operators

In [ ]:
x = 10
y = 55

x == y
x != y
x > y
x < y
x >= y
x <= y

True

LOgical Operators

In [ ]:
x < 5 and x < 10
x < 5 or x < 4
not(x < 5 and x < 10)

True

Identity Operators

In [ ]:
x = 3
y =4

x is y
x is not y

True

Bitwise Operators

In [ ]:
#decimal to binary
x = 10

x << 1

print(x)

10

**APPLICATION** **1**

In [1]:
#1. Triangle
import math

x = input()
y = input()
z = float(x)* float(y)/2

print( "The area of Triangle is: ", z)

10
10
The area of Triangle is:  50.0

In [ ]:
#2. Circle

import math

r = input()
z = float(r)*float(r)*math.pi

print( "The area of circle is: ", z)

345
The area of circle is:  373928.0655935251

In [ ]:
#3. Cylinder

import math

r = input()
h = input()
z = float(r)*float(r)*math.pi*float(h)

print( "The area of cylinder is: ",z )

23232
4444
The area of cylinder is:  7535240550056.598