<a href="https://colab.research.google.com/github/ryaneulin/CPE-103-OOP-1-A/blob/main/VARIABLES_AND_ADATA_TYPES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

VARIABLES AND DATA TYPES

In [6]:
#Numbers
vaNum = 123
pi = 3.12159


#Strings
varString = "Hello World"
varText = " This is a String"

#Lists
varList = ["abc", 123]

#Tuples
varTuple = ( 'abc' , 123, "HELLO")

#Dictionaries
var = 3
varDict = {"first" : 1 ,"2": '2nd', 3 :var}
varDict = {}
varDict['First'] = 1
varDict['2'] = '2nd'
varDict[3] = var

Arithmetic

In [8]:
#Addition

a = 5 + 3

#Subtraction
a = 5 - 3

#Multiplication
a = 5 * 3

#Division
a = 5 / 3

#Modulus
a = 5 % 3

#Exponent
a = 5 ** 3

#Floor Division
a = 5 // 3

#Increment/Decrement
a = 5
a += 1

#Decrement
a = 5
a -= 4

#String Concatenation
a = "Hello" + "World"

#Complex Expressions
a = 3 + 5 - 6 * 2 / 4

CONDITIONAL STATEMENTS

In [15]:
#Boolean
x = True

if x:
    print("x is True")
else:
    print("x is False")




#String Conditions
x = "Hello World"
if x == "Hello World":
            print("Var x is Hello World")
else:
            print("Var x is not Hello World")


#Numerical Conditons
x = 10
if x == 10:
                 print("Var x is string")
elif x > 10:
                 print("Var x is an integer")
else:
                   print("Var x is none of the above")

x is True
Var x is Hello World
Var x is string

LOOP

In [16]:
#For LOOP
for var in range (0, 5, 2):
  print (var)

0
2
4

In [17]:
#While Loop
var = 0
while var < 5:
  print (var)
  var += 1

0
1
2
3
4

In [19]:
#Nested LOOP

x = 0
while x < 5:
 for y in range (0, x):
    print(y, end=' ')

 x += 1
 print()

0
0 1
0 1 2
0 1 2 3

FUNCTIONS

In [26]:
def remainder (n, m):
    while True:
        if n - m < 0:
             return n

        else:
            n = n - m

remainder(10, 4)

2

List

In [28]:
pi = 3.14159
varList = [1, 2, 'A', 'B', 'Hello', 'World', pi]

print(varList[0])
print(varList[4])
print(varList[6])

len(varList)
print(varList [5])
varList.append('Python')
print(varList)

1
Hello
3.14159
World
[1, 2, 'A', 'B', 'Hello', 'World', 3.14159, 'Python']

Dictionaries

In [30]:
var = 'Hello World'
varDict = {"first" : 123, 2 :'abc',
          '3' : var, 4 : [ 'lista', 'listb'] }

print(varDict['first'])
print(varDict[2])
print(varDict['3'])
print(varDict[4][1])
len(varDict)

123
abc
Hello World
listb

4

LIST GENERATORS AND COMPREHENSION

In [32]:
def gen_num_up_to(n):
  num = 0
  while num < n:
    yield num
    num += 1

gen_num_up_to(5)

varList = gen_num_up_to(5)
print([var for var in varList])

def gen_num_up_to(n):
  num = 0
  while num < n:
    yield num
    num += 2

varList = gen_num_up_to(5)
print([var for var in varList])

varList = range(0,5,2)
print([var for var in varList])

[0, 1, 2, 3, 4]
[0, 2, 4]
[0, 2, 4]

SLICING

In [31]:
varList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(varList[:5])

print(varList[5:])

print(varList[:-2])

print(varList[-2:])

print(varList[2:-2])

print(varList[2:8:2])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8]
[9, 10]
[3, 4, 5, 6, 7, 8]
[3, 5, 7]